 <div class="tab-links">
    <button type="button" class="tab-link active posts-tab" data-type="0" data-tab="tab-perdidos" id="showTab-perdidos">Perdidos</button>
    <button type="button" class="tab-link posts-tab" data-type="1" data-tab="tab-encontrados" id="showTab-encontrados">Encontrados</button>
</div>

<div id="tab-perdidos" class="tab-content active">
    <% lostPosts.forEach(function(post) {  %>
        <div class="tarjeta tarjeta--perrrito-perdido" id="<%= post._id %>">
            <div class="tarjeta__titulo">
                <img src="img/placeholder.jpg" alt="foto de perfil">
                <span><%= post.user.name %> <%= post.user.lastname %>  </span>
            </div>
            <div class="tarjeta__imagen">
                <img src="<%= post.photo %>" alt="perrito perdido">
            </div>
            <div class="tarjeta__descripcion">
                <p class="descripcion"><%= post.description %> </p>
                <p class="direccion"><%= post.address %></p>
                <div class="caracteristicas">
                    <p><b> Características </b> </p>
                    <% post.features.forEach( function(feature) { %>
                        <span class="caracteristica"><%= feature.name %></span>
                    <% }); %>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<div id="tab-encontrados" class="tab-content">
    <% foundPosts.forEach(function(post) {  %>
        <div class="tarjeta tarjeta--perrrito-perdido" id="<%= post._id%>">
            <div class="tarjeta__titulo">
                <img src="img/placeholder.jpg" alt="foto de perfil">
                <span><%= post.user.name %> <%= post.user.lastname %>  </span>
            </div>
            <div class="tarjeta__imagen">
                <img src="<%= post.photo %>" alt="perrito perdido">
            </div>
            <div class="tarjeta__descripcion">
                <p class="descripcion"> <%= post.description %> </p>
                <p class="direccion"><%= post.address %></p>
                <div class="caracteristicas">
                    <p><b> Características </b> </p>
                    <% post.features.forEach( function(feature) { %>
                        <span class="caracteristica"><%= feature.name %></span>
                    <% }); %>
                </div>
            </div>
        </div>
    <% }); %>
</div>